@model EmprestimosModel


@{
    ViewData["title"] = "Cadastrar Emprestimo";
}




<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Empréstimos</h1>
    </div>


<form method="post" asp-controller="Emprestimo" asp-action="Cadastrar" >
    <div class="mb-3">
            <label for="Recebedor" class="form-label text-light">Recebedor:</label>
        <input type="text" class="form-control" asp-for="Recebedor" id="recebedor" placeholder="Quem está recebendo o livro?">
            <span class="text-danger" asp-validation-for="Recebedor"></span>
    </div>


    <div class="mb-3">
            <label for="Fornecedor" class="form-label text-light">Fornecedor:</label>
            <input type="text" class="form-control" asp-for="Fornecedor" id="fornecedor" placeholder="Quem é responsável pelo empréstimo do livro?">
            <span class="text-danger" asp-validation-for="Fornecedor"></span>
    </div>

        <div class="mb-3">
            <label for="Livro" class="form-label text-light">Livro:</label>
            <input type="text" class="form-control" asp-for="LivroEmprestado" id="livro" placeholder="Digite o nome do livro">
            <span class="text-danger" asp-validation-for="LivroEmprestado"></span>
        </div>

    <div class="d-flex gap-5 mt-5">
        <button type="submit" class="btn btn-success w-50 d-flex justify-content-center align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
            Cadastrar
        </button>

            <a class="btn btn-primary w-50 d-flex justify-content-center align-items-center gap-1" asp-controller="Emprestimo" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
                Cancelar
            </a>
     </div>
</form>
</div>